<div class="col-xs-8 col-xs-offset-2">
  <table class="table">
    <tr>
      <th>nome</th>
      <th>città</th>
      <th>età</th>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.nome}}</td>
      <td>{{user.citta}}</td>
      <td>{{user.eta}}</td>
    </tr>
  </table>
</div>
